<div class="container">
    <h1>Beers</h1>
    <div>
        {{#each beers}}
        <p>  {{name}}</p>
        <img src="{{image_url}}" width="30%">
        <p>{{description}}</p>
        <p>{{tagline}}</p>
        {{/each }}
       
    </div>
</div>


    